<div class="container ">
    <div class="row" style="margin-left:100px;">
        <h3>注文情報確認</h3>
    </div>

    <%= form_with(model: @order, url: customers_orders_path ) do |f| %>

        <div class="col-lg-8">
            <table class="table table-bordered">
            <tr class="active">
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
            </tr>
                

                <% @sum = 0 %>
                <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td style="line-height: 50px;"><%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg'  %><%= cart_item.item.name %></td>
                        <td style="line-height: 50px;"><%= (cart_item.item.price * 1.1).floor.to_s(:delimited, delimiter: ',') %>
                        </div>
                        <td style="line-height: 50px;"><%= cart_item.amount.to_s(:delimited, delimiter: ',') %></td>
                        <td style="line-height: 50px;"><%= (cart_item.item.price * 1.1 * cart_item.amount).floor.to_s(:delimited, delimiter: ',') %></td>
                    </tr>
                <% @sum_all= (@sum += cart_item.item.price. * 1.1 * cart_item.amount) %>
                <% end %>
                </table>
        </div>

        <div class="col-lg-4">
            <table class="table table-bordered">
                <tr><th class="active" style="line-height: 30px;">送料</th><td style="line-height: 30px;"><%= @order.shipping_cost.floor.to_s(:delimited, delimiter: ',') %>円</td></tr>
                </div>

                <tr><th class="active" style="line-height: 30px;">商品合計</th><td style="line-height: 30px;"><%= @sum_all.floor.to_s(:delimited, delimiter: ',') %>円</td></tr>

                <tr><th class="active" style="line-height: 30px;">請求金額</th><td style="line-height: 30px;"><%= (@order.shipping_cost + @sum).floor.to_s(:delimited, delimiter: ',')%>円
                </td></tr>
            </table>
        </div>

        <div class="row">
            <div class="col-lg-12" style="margin-left:20px">
                <h4><strong>支払方法</strong><span style="font-size: 16px; padding-left: 30px;"><%= @order.payment_method %>
            </div>    
        </div>
        

        <div class="row">
            <div class="col-lg-12" style="margin-left:20px">
                <h4><strong>お届け先</strong><span style="font-size: 16px; padding-left: 30px;">
                <%= @order.postal_code %>
                <%= @order.address %></span></h4>
                <div class="col-lg-8" style="margin-left:90px"><%= @order.name %></div>
            </div>
        </div>

            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%= f.hidden_field :postal_code, :value => "#{@order.postal_code}" %>
            <%= f.hidden_field :address, :value => "#{@order.address}" %>
            <%= f.hidden_field :name, :value => "#{@order.name}" %>
            <%= f.hidden_field :shipping_cost, :value => "#{@order.shipping_cost}" %>
            <%= f.hidden_field :total_payment, :value => "#{@order.shipping_cost + @sum }" %>
            <%= f.hidden_field :payment_method, :value => "#{@order.payment_method }" %>
            <%= f.hidden_field :status, :value => "#{@order.status }" %>
        
            


        <div class="row">
            <div class="col-lg-2 offset-lg-5" style="margin:50px 0 0 420px" >
                <%= f.submit "購入を確定する", class: "btn btn-success btn-lg" %>
            </div>
        </div>

    <% end %>
</div>