<div class="container">
	<div class="row" style="font-size: 30px;margin-left: 50px;">ジャンル編集</div>
	<div class='row'>
      <% if @genre.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@genre.errors.count, "error") %> errors prohibited this obj from being saved:</h2>

          <ul>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
	<div class="row" style="margin-top: 100px;">
		<div class="col-lg-1 col-lg-offset-2">ジャンル</div>
		<%= form_for @genre, url: admins_genre_path do |f| %>
			<div class="col-lg-2"><%= f.text_field :name %></div>
			<div class="col-lg-2">
				<label><%= f.radio_button :is_active, true %> 有効</label>
				<label><%= f.radio_button :is_active, false %> 無効</label>
			</div>
			<div class="col-lg-2"><%= f.submit "変更を保存する",class: "btn btn-primary btn-block" %></div>
			<% end %>
	</div>
</div>