<div class="container">
	<div class="row">
			<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
		<p id="notice"><%= notice %></p>
		<table>
			<tbody>

				<tr>
					<td style="padding: 30px 100px 10px 5px;">顧客ID</td>
					<td style="padding: 30px 100px 10px 5px;">
						<%= @customer.id %>
						<% if @customer.is_deleted %>
							<span class="label label-danger">退会済</span>
						<% else%>
							<span class="label label-primary">有効会員</span>
						<% end %>
					</td>
				</tr>

				<tr>
					<td class="admin_customers_interval">氏名</td>
					<td class="admin_customers_interval"><%= @customer.last_name %> <%= @customer.first_name %></td>
				</tr>
				<tr>
					<td class="admin_customers_interval">フリガナ</td>
					<td class="admin_customers_interval">
						<%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
					</td>
				</tr>

				<tr>
					<td class="admin_customers_interval">郵便番号</td>
					<td class="admin_customers_interval"><%= @customer.postal_code %></td>
				</tr>

				<tr>
					<td class="admin_customers_interval">住所</td>
					<td class="admin_customers_interval"><%= @customer.address %></td>
				</tr>

				<tr>
					<td class="admin_customers_interval">電話番号</td>
					<td class="admin_customers_interval"><%= @customer.telephone_number %></td>
				</tr>

				<tr>
					<td style="padding: 15px 0 10px 5px;">メールアドレス</td>
					<td class="admin_customers_interval"><%= @customer.email %></td>
				</tr>

			</tbody>
		</table>
		<%= link_to "編集する" ,edit_admins_customer_path(@customer), class: "btn btn-primary admin_customers_link" %>
		<%= link_to "注文履歴一覧を見る" ,admins_orders_path, class: "btn btn-primary admin_customers_link" %>
	</div>
</div>