<div class="container">
    <div class="row" style="font-size: 30px;">商品新規登録</div>
    <div class="row">
        <%= form_with model:@item, url: admins_items_path do |f| %>
            <div class="col-lg-4 col-lg-offset-1" style="padding-top: 320px;">
                <%= f.attachment_field :image %>
            </div>
            <div class="col-lg-3 col-lg-offset-1" style="margin-top: 100px;" >
                <div class="row">
                    <%= f.label :商品名, style: "margin-right: 24px;" %>
                    <%= f.text_field :name %>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <%= f.label :商品説明, style: "margin: 20px 10px 0 0" %>
                    <%= f.text_area :introduction %>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <%= f.label :ジャンル, style: "margin-right: 12px;"  %>
                    <%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :name %>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <%= f.label :税抜価格, style: "margin-right: 12px;" %>
                    <%= f.text_field :price %>円
                </div>
                <div class="row" style="margin-top: 20px;">
                    <%= f.label :販売ステータス %>
                    <%= f.select :is_active, {"販売中":true ,"売り切れ":false},{ include_blank: '-- 選択してください --' } %>
                </div>

                <div class="row"  style="margin-top: 30px; margin-left: 130px;">
                    <%= f.submit "新規登録", class: "btn btn-primary btn-lg" %>
                </div>
            </div>
        <% end %>
    </div>
</div>