<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header" id="header">
      <nav class="navbar navbar-main navbar-default" role="navigation" id="slide-nav" style="background-color: #222222; border-color: #222222; border-radius: 0px; height: 100px;">
        <div class="container relative">
          <div class="navbar-header" style="color: white;line-height: 100px;font-size: 20px;">
            <div style="width: 100px;height: 100px; float: left;"></div>NaganoCake
          </div>
          <div id="slidemenu">
            <div class="list">
              <ul class="nav navbar-nav navbar-right" data-hover="color" data-animations="zoomIn fadeIn fadeInUp fadeIn" style="margin-top: 25px;">
                <!-- customers -->
                <% if customer_signed_in? %>
                  <li style="margin: 20px 100px 0 0; color: white;">
                    ようこそ、<%= current_customer.last_name %>さん！
                  </li>
                  <li class="" style="border: 1px;">
                    <%= link_to customers_customers_path(@customer) do %>
                     <i class="glyphicon glyphicon-home" aria-hidden="true"></i> マイページ
                    <% end %>
                  </li>
                  <li class="" style="border: 1px;">
                    <%= link_to customers_items_path do %>
                      <i class="glyphicon glyphicon-leaf" aria-hidden="true"></i> 商品一覧
                    <% end %>
                  </li>
                  <li class="" style="border: 1px;">
                    <%= link_to customers_cart_items_path(@customer) do %>
                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> カート
                    <% end %>
                  </li>
                  <li class="" style="border: 1px;">
                    <%= link_to destroy_customer_session_path, method: :delete do %>
                      <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> ログアウト
                    <% end %>
                  </li>
                  <!-- ------ -->
                  <!-- adminz -->
                <% elsif admin_signed_in? %>
                  <li class="" style="border: 1px;">
                  <%= link_to admins_items_path do %>
                   <i class="glyphicon glyphicon-leaf" aria-hidden="true"></i> 商品一覧
                  <% end %>
                  </li>
                  <li class="" style="border: 1px;">
                    <%= link_to admins_customers_path do %>
                      <i class="glyphicon glyphicon-user" aria-hidden="true"></i> 会員一覧
                    <% end %>
                  </li>
                  <li class="" style="border: 1px;">
                    <%= link_to admins_orders_path do %>
                    <i class="glyphicon glyphicon-book" aria-hidden="true"></i> 注文履歴
                    <% end %>
                  </li>
                  <li class="" style="border: 1px;">
                    <%= link_to admins_genres_path do %>
                      <i class="glyphicon glyphicon-list" aria-hidden="true"></i> ジャンル一覧
                    <% end %>
                  </li>
                  <li class="" style="border: 1px;">
                    <%= link_to destroy_admin_session_path, method: :delete do %>
                      <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i> ログアウト
                    <% end %>
                  </li>
                  <!-- ------ -->
                  <!-- guest -->
                <% else %>
                  <li style="">
                    <%= link_to customers_customer_about_path do %>
                      <i class="glyphicon glyphicon-home" aria-hidden="true"></i> About
                    <% end %>
                  </li>
                  <li style="">
                    <%= link_to customers_customer_top_path do %>
                      <i class="glyphicon glyphicon-leaf" aria-hidden="true"></i> 商品一覧
                    <% end %>
                  </li>
                  <li style="">
                    <%= link_to new_customer_registration_path do %>
                      <i class="glyphicon glyphicon-new-window" aria-hidden="true"></i> 新規登録
                    <% end %>
                  </li>
                  <li style="">
                    <%= link_to new_customer_session_path do %>
                      <i class="glyphicon glyphicon-log-in" aria-hidden="true"></i> ログイン
                    <% end %>
                  </li>
                <% end %>
                <!-- --------- -->
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div style="flex: 1;min-height: 100vh;">
      <%= yield %>
    </div>
  </body>
  <footer style="height: 100px;background-color: black"></footer>
</html>
